.lap_label {
  opacity: 0.5;
  font-weight: bold;
}

.large_button > image {
  padding: 12px;
}

.pill_button, .pill_button > button {
  padding: 4px;
  border-radius: 9999px;
  min-width: 24px;
  min-height: 24px;
}

.timer_button {
  margin-top: 48px;
}

.main_box {
  padding: 24px;
}

.blinking {
  animation: blinkingText 1.2s infinite;
}

.blinking:backdrop {
  animation: none;
}

.transparent_headerbar {
  background-color: @theme_bg_color;
  border-bottom-width: 0px;
  background-image: none;
}

@keyframes blinkingText {
  0% {
    color: @theme_selected_bg_color;
  }
  50% {
    color: @theme_text_color;
    opacity: 0.5;
  }
  100% {
    color: @theme_selected_bg_color;
  }
}

.timer_label {
  font-size: 400%;
  font-weight: 300;
  font-feature-settings: "tnum" 1;
}

.blue_text {
  color: @theme_selected_bg_color;
}
