button.large {
  min-width: 48px;
  min-height: 48px;
}

.main_box {
  padding: 24px;
}

.blinking {
  animation: blinkingText 1.2s infinite;
}

.blinking:backdrop {
  animation: none;
}

@keyframes blinkingText {
  0% {
    color: @accent_color;
  }
  50% {
    color: @theme_text_color;
    opacity: 0.5;
  }
  100% {
    color: @accent_color;
  }
}

.timer_label {
  font-size: 400%;
  font-weight: 300;
  font-feature-settings: "tnum" 1;
}

.tool-window:not(.solid-csd):not(.fullscreen):not(.tiled):not(.tiled-top):not(.tiled-bottom):not(.tiled-left):not(.tiled-right):not(.maximized) {
	background: alpha(@theme_bg_color, 0.96);
}